# Created by .ignore support plugin (hsz.mobi)
.idea/dataSources.local.xml
.idea/vcs.xml
.idea/workspace.xml
out/
src/fashao/comparator/
src/fashao/dao/
src/fashao/servlet/
src/fashao/util/
web/WEB-INF/classes/
